.table {
  width: 100%;
  max-width: 1000px;
  margin-block: 1rem;
  margin-inline: auto;
  border-collapse: collapse;


  /* permite a vizualização da borda em alguns casos como no border-bottom */
}

.table tr {
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table td {
  text-align: center;
}

.table th {
  background-color: #f2f2f2;
  height: 50px;
  border-bottom: 1px solid #ccc;
  position: sticky;
  /* mantem fixo naquele ponto da tela */
  top: 0;
  /* a partir da posição zero do elemento ali */
}

.esquerda {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.direita {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}

td.gols {
  font-size: 2rem;
}